body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #3369b9;
    color: white;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  
  
  button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    background-color: #4c77af; /* Green */
  
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
  }
  
  #activateButton {
    background-color: #4CAF50; /* Green */
    border: 2px solid #4CAF50;
  }
  
  #activateButton:hover {
    background-color: #45a049;
    color: white;
  }
  
  #deactivateButton {
    background-color: #f44336; /* Red */
    border: 2px solid #f44336;
  }
  
  #deactivateButton:hover {
    background-color: #d32f2f;
    color: white;
  }
  
  
  
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
  visibility: visible;
    opacity: 1;
  }
  
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
    cursor: pointer;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
  
    .popup{
      width: 70%;
    }
  }
  
  
  
  
  
  
  a {
    color: #007bff; /* Link color */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  
  a:hover {
    color: #0056b3; /* Darker blue on hover */
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #000000; /* Label color */
  }
  
  input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #bdc3c7; /* Input border color */
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input:focus {
    outline: none;
    border-color: #3498db; /* Border color on focus */
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.5); /* Box shadow on focus */
  }
  select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #bdc3c7; /* Input border color */
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  select:focus {
    outline: none;
    border-color: #3498db; /* Border color on focus */
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.5); /* Box shadow on focus */
  }
  