<div class="user">

    <h2>Lista de projetos criados</h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Designação</th>
                <th>Local</th>
                <th *ngIf="isDirector()"></th>


            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of projects">
                <td>{{project.id}}</td>
                <td>{{project.designation}}</td>
                <td>{{project.location}}</td>
                <td *ngIf="isDirector()"> 
                    <button id="activateButton" *ngIf="!project.active" class="btn btn-primary btn-block" (click)="activate(project.id)">
                    Ativar
                  </button>   
                  <button *ngIf="project.active" id="deactivateButton" class="btn btn-primary btn-block" (click)="deactivate(project.id)">
                    Desativar
                  </button></td>


            </tr>
            <!-- Add more rows as needed -->
        </tbody>
</table>

</div>
