<div class="col-md-12">
    <div class="card card-container">
  
      <form
        name="form"
        (ngSubmit)="f.form.valid && getRequestsDate()"
        #f="ngForm"
        novalidate
      >
  


  
  
  
  
        <div class="form-group">
          <label for="username">Data</label>
          <input
            type="date"
            class="form-control"
            name="date"
            [(ngModel)]="date"
            required
            minlength="3"
            maxlength="20"
          />
  
        </div>
   

  
  
  
  
  
        <div class="form-group">
          <button class="btn btn-primary btn-block">Consultar</button>
        </div>
  

      </form>
      <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome de utilizador</th>
                <th>Email</th>
                <th>Data de inicio</th>
                <th>Data de fim</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let request of activeVacations">
                <td>{{request.id}}</td>
                <td><a href="/users/{{request.userName}}" >{{request.userName}}</a></td>
                <td>{{request.userEmail}}</td>
                <td> {{request.startDate | date : 'dd/MM/yyyy'}}</td>
                <td> {{request.endDate  | date : 'dd/MM/yyyy'}}</td>


            </tr>
            <!-- Add more rows as needed -->
        </tbody>
</table>
  

    </div>
  </div>