<div class="user">


    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Sigla do grupo</th>
                <th>Designação do grupo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let group of groupList">
                <td>{{group.id}}</td>
                <td>{{group.groupName}}</td>
                <td>{{group.groupDesignation}}</td>
                <td> <a href="/groups/{{group.id}}" >Detalhes</a></td>
            </tr>
            <!-- Add more rows as needed -->
        </tbody>
</table>

</div>
