<div id="app" class="nav-bar">
  <img src="../assets/logoPrincipal.svg" height="152px"width="113px">

</div>


<div class="nav-bar2" *ngIf="isLoggedIn">

  <nav class="elements">
      

        <a href="/register" class="nav-link"  *ngIf="isAllowed('register')" routerLink="register">Registar utilizador</a>
        <a href="/calendar" class="nav-link" *ngIf="isAllowed('calendar')" routerLink="calendar">Calendario</a>

        <a href="/profile" class="nav-link" *ngIf="isAllowed('profile')" routerLink="profile">{{ username }}</a>
        <a href="/files" class="nav-link" *ngIf="isAllowed('files')" routerLink="files">Upload e listagem de ficheiros</a>


        <a href class="nav-link" *ngIf="isLoggedIn" (click)="logout()">LogOut</a>
  </nav>
</div>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
