<div id="app" class="nav-bar">

  <img src="../assets/logoPrincipal.svg" height="152px"width="113px">

</div>


<div class="nav-bar2" *ngIf="isLoggedIn">

  <nav class="elements">
        <a href="/calendar" class="nav-link"   (click)="check()" *ngIf="isAllowed('calendar')" routerLink="calendar">Meu Calendario</a>
        <a href="/profile" class="nav-link" (click)="check()" *ngIf="isAllowed('profile')" routerLink="profile">{{ username }}</a>



        <div class="dropdown" *ngIf="isAllowed('markPresences')">
          <button class="dropbtn">Eventos</button>
          <div class="dropdown-content">
            <a href="/createEvent" class="nav-link" (click)="check()" *ngIf="isAllowed('createEvent')" routerLink="createEvent">Criar evento</a>

          
          
          </div>
        </div>


        <div class="dropdown" *ngIf="isAllowed('listProjects')">
          <button class="dropbtn">Projetos</button>
          <div class="dropdown-content">
            <a href="/createProject" class="nav-link" (click)="check()" *ngIf="isAllowed('createProject')" routerLink="createProject">Criar projeto</a>
            <a href="/listProjects" class="nav-link" (click)="check()" *ngIf="isAllowed('listProjects')" routerLink="listProjects">Listar projetos</a>
            <a href="/getUsersOnVacationInProject" class="nav-link" (click)="check()" *ngIf="isAllowed('getUsersOnVacationInProject')" routerLink="getUsersOnVacationInProject">Utilizadores de ferias por projeto</a>

          
          
          </div>
        </div>

        <div class="dropdown" *ngIf="isAllowed('markPresences')">
          <button class="dropbtn">Presenças</button>
          <div class="dropdown-content">
            <a href="/markPresences" class="nav-link" (click)="check()" *ngIf="isAllowed('markPresences')" routerLink="markPresences">Marcar presenças</a>
            <a href="/attendanceSheet" class="nav-link" (click)="check()" *ngIf="isAllowed('attendanceSheet')" routerLink="attendanceSheet">Folha de presenças</a>

            <a href="/listPresencesByUser" class="nav-link" (click)="check()" *ngIf="isAllowed('listPresencesByUser')" routerLink="listPresencesByUser">Ver presenças por utilizador</a>

          
          </div>
        </div>




        <div class="dropdown" *ngIf="isAllowed('createUserGroup')">
        <button class="dropbtn">Grupos</button>
          <div class="dropdown-content">
            <a href="/createUserGroup" class="nav-link" (click)="check()" *ngIf="isAllowed('createUserGroup')" routerLink="createUserGroup">Criar grupo</a>
            <a href="/groups" class="nav-link" (click)="check()" *ngIf="isAllowed('groups')" routerLink="groups">Meus grupos</a>

          
          </div>
        </div>




        <div class="dropdown" *ngIf="isAllowed('users')">
          <button class="dropbtn">Gestão de utilizadores</button>
            <div class="dropdown-content">
              <a href="/users" class="nav-link" (click)="check()" *ngIf="isAllowed('users')" routerLink="users">Listar utilizadores</a>
              <a href="/register" class="nav-link" (click)="check()" *ngIf="isAllowed('register')" routerLink="register">Registar utilizadores</a>
            </div>
          </div>



          <div class="dropdown" *ngIf="isAllowed('users')">
            <button class="dropbtn">Ficheiros</button>
              <div class="dropdown-content">
                <a href="/files" class="nav-link" (click)="check()" *ngIf="isAllowed('files')" routerLink="files">Upload de ficheiros</a>

                <a href="/myFiles" class="nav-link" (click)="check()" *ngIf="isAllowed('myFiles')" routerLink="myFiles">Meus ficheiros</a>
              </div>
          </div>


          <div class="dropdown" *ngIf="isAllowed('createVacationRequest')">
            <button class="dropbtn">Férias</button>
              <div class="dropdown-content">
                <a href="/createVacationRequest" class="nav-link" (click)="check()" *ngIf="isAllowed('createVacationRequest')" routerLink="createVacationRequest">Criar pedido de férias</a>
                <a href="/pendingVacationRequests" class="nav-link" (click)="check()" *ngIf="isAllowed('pendingVacationRequests')" routerLink="pendingVacationRequests">Pedidos de férias pendentes</a>
                <a href="/activeVacations" class="nav-link" (click)="check()" *ngIf="isAllowed('activeVacations')" routerLink="activeVacations">Utilizadores de férias</a>

              
              </div>
          </div>



        <a href class="nav-link" *ngIf="isLoggedIn" (click)="logout()">LogOut</a>
  </nav>
</div>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
