<div id="app" class="nav-bar">
  <img src="../assets/logoPrincipal.svg" height="152px"width="113px">

</div>


<div class="nav-bar2">

  <nav class="elements">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>

        <a href="/register" class="nav-link" *ngIf="!isLoggedIn" routerLink="register">Sign Up</a>
        <a href="/login" class="nav-link" *ngIf="!isLoggedIn" routerLink="login">Login</a>

        <a href="/profile" class="nav-link" *ngIf="isLoggedIn" routerLink="profile">{{ username }}</a>

        <a href class="nav-link" *ngIf="isLoggedIn" (click)="logout()">LogOut</a>
  </nav>
</div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
