<div class="col-md-12">
    <div class="card card-container">
  
      <form
        name="form"
        (ngSubmit)="f.form.valid && getAttendanceSheet()"
        #f="ngForm"
        novalidate
      >
  


  
  
  
  
        <div class="form-group">
          <label for="username">Data</label>
          <input
            type="date"
            class="form-control"
            name="date"
            [(ngModel)]="date"
            required
            minlength="3"
            maxlength="20"
          />
  
        </div>
   

  
  
  
  
  
        <div class="form-group">
          <button class="btn btn-primary btn-block">Consultar</button>
        </div>
  

      </form>
      <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome de utilizador</th>
                <th>Email</th>
                <th>Papel</th>
                <th>Agenda</th>
                <th>Estado</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let attendance of attendanceInDay">
                <td>{{attendance.user.id}}</td>
                <td>{{attendance.user.username}}</td>
                <td>{{attendance.user.email}}</td>
                <td> {{attendance.user.role}}</td>
                <td>             <a href="/users/{{attendance.user.username}}" >Agenda</a>                </td>
 
                <td>{{attendance.status}}</td>
            </tr>
            <!-- Add more rows as needed -->
        </tbody>
</table>
  

    </div>
  </div>
