  
    <div class="profile-container" *ngIf="!isSucess">
      <h1>Utilizador não existe</h1>

  
  </div>
  
  <div class="profile-container" *ngIf="isSucess">
    <h1>Perfil do utilizador</h1>
    <p><strong>Username:</strong> {{user?.username}}</p>
    <p><strong>Email:</strong> <a href="mailto:{{user?.email}}">{{user?.email}}</a></p>

    <p><strong>Cargo:</strong> {{user?.role}}</p>
    <p><strong>Projeto atual:</strong> {{user?.currentProject?.designation}} em <strong>{{user?.currentProject?.location}}</strong> </p>

</div>

<br>
<br>
<br>

<div class="user" *ngIf="isSucess">

<div class="user-list">
    <h2>Agenda do utilizador {{user?.username}}</h2>

    <ul class="users">



</ul>
</div>
</div>





<div class="row text-center"  *ngIf="isSucess">
  <div class="col-md-4">
    <div class="btn-group">
      <table>
      <tr>
        <td>

      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate">
        Anterior
      </div>
    </td>
      <td>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        id="hoje"

        [(viewDate)]="viewDate">
        Hoje
      </div>
    </td>
      <td>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate">
        Seguinte
      </div>
    </td>
      </tr>
      </table>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'pt' }}</h3>
  </div>
  
  <div class="col-md-4 vista">
    <div class="btn-group">
      <tr>
      <td>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month">
        Mês
      </div>
      </td>
      <td>
      <div
        class="btn btn-primary"
        id="semana"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week">
        Semana
      </div>
      </td>
      <td>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day">
        Dia
      </div>
      </td>
    </tr>
    </div>

  </div>
  


</div>
<br />
<div [ngSwitch]="view"  *ngIf="isSucess">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [locale]="locale"

    [viewDate]="viewDate"
    [events]="events"
    (eventClicked)="eventClicked($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [locale]="locale"

    [events]="events"
    (eventClicked)="eventClicked($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [locale]="locale"

    [events]="events"
    (eventClicked)="eventClicked($event)">
  </mwl-calendar-day-view>
</div>

<ng-template #customCellTemplate let-day="day" let-locale="locale">

  <small style="margin: 5px">
    There are {{ day.events.length }} events on this day
  </small>
</ng-template>

