
  



  <div class="file-list">
    <h2>Lista</h2>


    <table>
        <thead>
            <tr>
                <th>Partilhado por</th>
                <th>Nome</th>
                <th>Tipo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let file of fileInfos">
                <td><a href="/users/{{file.sharedBy}}" >{{file.sharedBy}}</a></td>
                <td>{{file.name}}</td>
                <td>{{file.type}}</td>

                <td> <a href="{{ file.url }}">Download</a></td>
            </tr>
            <!-- Add more rows as needed -->
        </tbody>
</table>


</div>